In [2]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Question no.3 Pandas assignment basic of pandas
data=({'Name':['Alice','bob','Claire'],
       'Age':[25,30,27],
       'gender':['female','male','female']})

In [5]:
data

{'Name': ['Alice', 'bob', 'Claire'],
 'Age': [25, 30, 27],
 'gender': ['female', 'male', 'female']}

In [7]:
pd.DataFrame(data)

     Name  Age  gender
0   Alice   25  female
1     bob   30    male
2  Claire   27  female

In [8]:
# Question no.1 basic of python in pandas
l=[4,8,15,16,23,42]

In [9]:
l

[4, 8, 15, 16, 23, 42]

In [10]:
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
type(pd.Series(l))

pandas.core.series.Series